/* css for foodylytics */
.title {
    text-align: center;
}

.about_text {
    text-align: center;
}

/* Storyboard styling */

.storyboard {
    text-align: center;
}

.storyblock {
    display: inline-block;
    width: 450px;
    height: 600px;
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;
    vertical-align: top;
}

.storyblock img {
    width: 350px;
    height: 350px;
}

.story_container {
    text-align: center;
}

.story_text {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.image_workflow{
    display: inline-block;
    width: 400px;
    height: 400px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
}

.image_testing {
    display: inline-block;
    width: 400px;
    height: 400px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
}

