body{
    background-color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Setting all images the same size */

img {
    width: 100%;
    height: 100%;
}


/* Styling for Header*/

header {
    background: lightblue;
}

header::after{
    content:'';
    display: table;
    clear: both;
}

.home {
    float: left;
    padding-top: 15px;
}

/* 
.logo {
    float: left; 
} */

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

/* Styling for Index Page */

.name {
    /* width:1920px;
    height: 1080px; */
    text-align: left;
    font-family: "Helvetica", sans-serif;
    /* padding-top: 200px; */
    padding-left: 15%;
    /* font-weight: bold; */
}

.body1 {
    text-align:left;
    font-family: "Helvetica", sans-serif;
    padding-top: 150px;
    padding-left: 15%;
}

.body2 {
    text-align:left;
    font-family: "Helvetica", sans-serif;
    padding-left: 15%;
}

.body3 {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    padding-left: 15%;
}

.body3 a {
    /* text-decoration: none; */
    color: black;
}

/* .content2 {
    height: 1080px;
}

.content2 h1 {
    text-align: center;
    height: 100px; Some padding inbetween 'Work' and content.
} */

footer {
    background: lightblue;
}

/* Styling for about.html page */

.wheader {
    text-align: center;
}

.pheader {
    text-align: center;
}