body{
    background-color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Setting all images the same size */

img {
    width: 100%;
    height: 100%;
}


/* Styling for Header*/

header {
    background: lightblue;
}

header::after{
    content:'';
    display: table;
    clear: both;
}

.home {
    float: left;
    padding-top: 15px;
}

/* 
.logo {
    float: left; 
} */

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

/* Styling for Headline/Name/Intro */

.content1 {
    width: 1920px; /* Place holder for image/picture ( NEED TO REPLACE ) */
    height: 1080px; /* Place holder for image/picture ( NEED TO REAPLCE ) */
    text-align: center;
}

.content2 {
    height: 1080px;
}

.content2 h1 {
    text-align: center;
    height: 100px; /* Some padding inbetween 'Work' and content. */
}

footer {
    background: lightblue;
}

/* Styling for about.html page */

.wheader {
    text-align: center;
}

.pheader {
    text-align: center;
}

/* Styling for each picture on work */
.pwork {
    float: left;
    width: 300px;
    height: 300px;
    padding: 5px;
}
/* Clear floats fix */
.workcontent::after {
    content:"";
    clear: both;
    display: table;
}

/* Styling for each picture on projects */

.pcontent {
    float: left;
    width: 300px;
    height: 300px;
    padding: 5px;
}

/* Clear floats fix */
.projectcontent::after {
    content: "";
    clear: both;
    display: table;
}